// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
$fuente-principal: 'Poppins', sans-serif;

// Colores
$color-principal:#FF9F1C;
$color-opacidad:#020202ad;
$color-blanco: #fff;
$color-negro: #22272C;
$color-gris: #e6e6e6;
$color-gris-oscuro: #333333;
$color-gris-2:#F7F7F7;

// Breakpoints

$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;
$XXL: 1400px;
